## Problem Solving Homework 3
This homework is intended for you to develop your skills in Pandas. This includes both technical skills about how to work with data frames, and thinking skills about where to get information from a data set.

You can read in the file line by line as we went over in the notebook 08_elif_set_dict.ipynb

### The Deforestation Data
This data is taken from this [Tidy Tuesday data set](https://github.com/rfordatascience/tidytuesday/tree/master/data/2021/2021-04-06). It is data about different countries and their forest coverage over time. This homework will take you through an analysis of this data set.


#### Input variables
These instructions are the same as in homework 2.
Questions that use input variables have these inputs highlighted in <font color=purple>purple</font>. These variables should be defined in a separate cell from where your code is. Do not put the variable assignment into your answer cell. Therefore there are 2 cells for each answer: one cell giving example inputs (I made one for each Question) and another cell where you write your code that uses these inputs and makes an output. Example below:

**Example question**: Write code that uses a variable `input_var` and adds 1 to that variable.

In [ ]:
## Input cell: comment out different lines here to test out your code
input_var = 1
input_var = -1

In [ ]:
## Answer cell: input your code below. Do not redefine the value of input_var, just use the value

## Q0 
(no points)
Read in the data frames for vegetable oil, forest conversion, forest area, and brazil deforestation. These are the data frames you will be using.

In [42]:
import pandas as pd
# Need country ones so we don't get 'World' or 'Americas'
veg = pd.read_csv("../data/forest_data/vegetable_oil.csv")
conv = pd.read_csv("../data/forest_data/country_forest.csv")
area = pd.read_csv("../data/forest_data/country_forest_area.csv")
brazil = pd.read_csv("../data/forest_data/brazil_loss.csv")

## Q1

Given the following 2 variable values,to obtain the vegetable oil type most produced in a country in a given year.

<font color=purple>Inputs are `year` and `country`</font>

In [3]:
year = 2010
country = 'Brazil'

In [9]:
# Do boolean indexing to get the correct year and country
indexer = (veg['year'] == year) & (veg['entity'] == country)
df = veg.loc[indexer, :]
# Find the index of the maximum production, then find the crop_oil that was being produced
print(df.loc[df['production'].idxmax(), 'crop_oil'])

Soybean

In [21]:
## Australia 2010

Rapeseed

In [25]:
## Chile 2010

Rapeseed

In [22]:
## Brazil 2010

Soybean

## Q2
Find which source of forest loss caused the most loss of forest area in Brazil between the years `year_start` and `year_end`.

<font color=purple>Inputs are `year_start` and `year_end`</font>

Output a list containing the elements [type of loss, loss caused]

In [12]:
year_start = 2001
year_end = 2008  ## will output ['pasture', 16861000]

In [78]:
## your code here
# Select for the correct years and eliminate entity, code, and year columns
selected = brazil.iloc[year_start - 2001:year_end - 2000]
# Sum the forest area lost in each column, then find the type of forest loss that accounted for the maximum area lost
print([selected.sum().idxmax(), selected.sum().max()])

['pasture', 16861000]

,entity,code,year,commercial_crops,flooding_due_to_dams,natural_disturbances,pasture,selective_logging,fire,mining,other_infrastructure,roads,tree_plantations_including_palm,small_scale_clearing
0,Brazil,BRA,2001,280000,0,0,1520000,96000,26000,9000,9000,13000,44000,249000
1,Brazil,BRA,2002,415000,79000,35000,2568000,96000,114000,9000,13000,31000,44000,293000
2,Brazil,BRA,2003,550000,0,35000,2761000,149000,44000,0,9000,35000,26000,358000
3,Brazil,BRA,2004,747000,26000,22000,2564000,131000,79000,0,13000,57000,92000,415000
4,Brazil,BRA,2005,328000,17000,26000,2665000,140000,393000,0,13000,35000,52000,288000
5,Brazil,BRA,2006,188000,17000,26000,1861000,52000,79000,0,9000,17000,26000,306000
6,Brazil,BRA,2007,79000,9000,22000,1577000,96000,446000,9000,13000,13000,39000,310000
7,Brazil,BRA,2008,52000,0,17000,1345000,61000,70000,9000,17000,48000,17000,397000
8,Brazil,BRA,2009,57000,9000,31000,847000,87000,44000,0,9000,9000,35000,301000
9,Brazil,BRA,2010,100000,0,44000,616000,114000,537000,4000,9000,22000,9000,271000
10,Brazil,BRA,2011,52000,17000,87000,738000,44000,122000,0,0,9000,26000,271000
11,Brazil,BRA,2012,118000,17000,52000,546000,166000,70000,0,13000,31000,26000,232000
12,Brazil,BRA,2013,87000,0,13000,695000,131000,26000,35000,4000,17000,35000,284000

## Q3
Create a data frame that for each year contains the country that had the highest percent of global forest area and what that percent is. The index should be the years, and the columns should be country (entity) and forest_area. 

No inputs.

Please note for this question that you can use ".values" to convert the DataFrame from Boolean indexing to get the values from it. Example below:

In [26]:
lakes = {'name':['Huron','Ontario','Michigan','Erie','Superior'],
        'surface':[23000, 7340,22400,9900,31700],
        'ave_depth':[195,284,279,70,480],
        'max_depth':[750,802,923,210,1333],
        'shared_canada':[True,True, False, True, True],
         'temperature':[48,51,49,54,43],
         'native_name':['Karegnondi','Oniatarí:io','Michi gami','Erielhonan','Gichi-gami']
        }
df = pd.DataFrame(lakes).set_index("name")

Without using `.values`

In [30]:
df.loc[~df['shared_canada'],'max_depth']

name
Michigan    923
Name: max_depth, dtype: int64

Using `.values`:

In [31]:
df.loc[~df['shared_canada'],'max_depth'].values[0]

923

In [40]:
### your code here
# Make an empty dataframe to store the answer in
ans = pd.DataFrame(columns=['year', 'entity', 'forest_area'])
# Figure out what years are in the dataset
years = set(area['year'])

# For each year
for year in years:
    # Gather all of the data for that year
    selected = area.loc[(area['year'] == year), :]
    # Add a new row to the data frame containing the year, the country with the largest % forest area, and the % forest area that that country has
    ans.loc[len(ans.index)] = [year, selected.loc[selected['forest_area'].idxmax(), 'entity'], selected.loc[selected['forest_area'].idxmax(), 'forest_area']]

# Set the index of the dataframe to be year (like in the ex)
ans.set_index('year', inplace=True)
# Output the answer
ans

      entity  forest_area
year
1990  Brazil    13.900798
1991  Brazil    13.837152
1992  Russia    19.167504
1993  Russia    19.203923
1994  Russia    19.240477
1995  Russia    19.277168
1996  Russia    19.313996
1997  Russia    19.350962
1998  Russia    19.388067
1999  Russia    19.425312
2000  Russia    19.462697
2001  Russia    19.501070
2002  Russia    19.539538
2003  Russia    19.578102
2004  Russia    19.616763
2005  Russia    19.655521
2006  Russia    19.694376
2007  Russia    19.733328
2008  Russia    19.772379
2009  Russia    19.811527
2010  Russia    19.850775
2011  Russia    19.871486
2012  Russia    19.892260
2013  Russia    19.913079
2014  Russia    19.933945
2015  Russia    19.954856
2016  Russia    19.981124
2017  Russia    20.007456
2018  Russia    20.033853
2019  Russia    20.060315
2020  Russia    20.086841

What the output should look like, to check your result:

      entity  forest_area
year
1990  Brazil    13.900798
1991  Brazil    13.837152
1992  Russia    19.167504
1993  Russia    19.203923
1994  Russia    19.240477
1995  Russia    19.277168
1996  Russia    19.313996
1997  Russia    19.350962
1998  Russia    19.388067
1999  Russia    19.425312
2000  Russia    19.462697
2001  Russia    19.501070
2002  Russia    19.539538
2003  Russia    19.578102
2004  Russia    19.616763
2005  Russia    19.655521
2006  Russia    19.694376
2007  Russia    19.733328
2008  Russia    19.772379
2009  Russia    19.811527
2010  Russia    19.850775
2011  Russia    19.871486
2012  Russia    19.892260
2013  Russia    19.913079
2014  Russia    19.933945
2015  Russia    19.954856
2016  Russia    19.981124
2017  Russia    20.007456
2018  Russia    20.033853
2019  Russia    20.060315
2020  Russia    20.086841

## Q4A
Create a DataFrame or Series that sums up the forest loss/gain in hectares for each country across the selected time period (from year_start to year_end, including those years).

<font color=purple>Inputs are `year_start` and `year_end`</font>

In [76]:
## input cell (comment out values and run again to try different inputs)
# start_year = 2000
# end_year = 2008

start_year = 2008
end_year = 2015

In [80]:
## your code here
# Find all the rows where year is between start_year and end_year
selected = conv.loc[(conv['year'] >= start_year) & (conv['year'] <= end_year), :]
# Create a DataFrame where the columns are entity and net forest conversion
ans = pd.DataFrame(columns=['entity', 'net_forest_conversion'])
# Figure out which countries are in the dataset for the years we selected
countries = set(selected['entity'])
# For each country
for country in countries:
    # Find their net_forest_conversion across the years of the sample
    ans.loc[len(ans.index)] = [country, selected.loc[selected['entity'] == country, 'net_forest_conversion'].values.sum()]

# Sort by entity and print, like the example
ans = ans.sort_values('entity')
ans.set_index('entity', inplace=True)
ans

           net_forest_conversion
entity
Algeria                   6200.0
Argentina              -328200.0
Aruba                        0.0
Australia               709680.0
Austria                   7190.0
...                          ...
Vatican                      0.0
Venezuela              -254820.0
Vietnam                 251010.0
Zambia                 -376390.0
Zimbabwe                -92140.0

[129 rows x 1 columns]

Example outputs

In [11]:
## 2008 - 2015

           net_forest_conversion
entity
Algeria                  33900.0
Argentina              -316400.0
Aruba                        0.0
Australia              -226800.0
Austria                   2510.0
...                          ...
Vatican                      0.0
Venezuela              -164600.0
Vietnam                 160400.0
Zambia                  -35800.0
Zimbabwe                -46070.0

[121 rows x 1 columns]

In [14]:
## 2000 - 2008

           net_forest_conversion
entity
Algeria                   6200.0
Argentina              -328200.0
Aruba                        0.0
Australia               709680.0
Austria                   7190.0
...                          ...
Vatican                      0.0
Venezuela              -254820.0
Vietnam                 251010.0
Zambia                 -376390.0
Zimbabwe                -92140.0

[129 rows x 1 columns]

## Q4B 
Use the same variables as in part A. Among the countries from part A, obtain the top 5 countries for most loss, or top 5 for most gain, for a given year range. It should print just the top 5 as a list or "index" (either is fine). You can convert an index variable to a list variable using `list(index_variable)`

<font color=purple>Same inputs aas in Q4A</font>

In [18]:
## input cell (comment out values and run again to try different inputs)
start_year = 2000
end_year = 2008

start_year = 2008
end_year = 2015

In [81]:
## your code here
# Find all the rows where year is between start_year and end_year
selected = conv.loc[(conv['year'] >= start_year) & (conv['year'] <= end_year), :]
# Create a DataFrame where the columns are entity and net forest conversion
ans = pd.DataFrame(columns=['entity', 'net_forest_conversion'])
# Figure out which countries are in the dataset for the years we selected
countries = set(selected['entity'])
# For each country
for country in countries:
    # Find their net_forest_conversion across the years of the sample
    ans.loc[len(ans.index)] = [country, selected.loc[selected['entity'] == country, 'net_forest_conversion'].values.sum()]

# Sort by entity and print the top 5 results, like the first example
ans = ans.sort_values('net_forest_conversion')
ans.set_index('entity', inplace=True)
ans.head(5).index

Index(['Brazil', 'Tanzania', 'Paraguay', 'Myanmar', 'Indonesia'], dtype='object', name='entity')

Below, to check your work, example outputs (one as an Index and one as a list)

In [15]:
## 2008-2015 top loss countries

Index(['Brazil', 'Tanzania', 'Paraguay', 'Myanmar', 'Indonesia'], dtype='object', name='entity')

In [16]:
## 2008-2015 top gain countries

['China', 'Australia', 'India', 'Chile', 'United States']