## Agenda
- Quiz review
- Variables review
- Goal: Move out of basic python programming and into using python data science packages by the end of the week!

## Learning objectives for today:
- Describe when you'd use a list, set, or dictionary
- Create, modify, and access values from lists and dictionaries
- UML LinkedIn Learning is useful for developing programming skills further

## Variable review
Variables are part of how we communicate with the computer

There's a temptation to avoid the variables in simple examples when we know the answer. But then we are not learning how to use the computer to do computing. 

You can always step through your code line  by line doing the "role playing" method and verify to yourself what your code is doing (or add more prints to it!)

Example from Teams: write code to print the sum of 2 variables `x` and `y`. Your code should work for any value of variables `x` and `y`.

For example:
```
x = 1
y = 2
```

would print
"x + y is 3"

Bad answer:
`print("x + y is 3")`

Good answer:
`print("x + y is " , x + y)`

**Discuss**: why is one good and the other is bad?

### Self-check
Use the variable q to below to make the following lines of code work by replacing the "..." something else

Change what's in `x` to make a variable called `words` that stores "7 deadly sins". Check that it worked.

In [2]:
x = "7"
words = x + " deadly sins" 

words

'7 deadly sins'

Change what's in `x` to make a variable `sums` that stores the number 10

In [3]:
x = 7
sums = x  + 3  

sums

10

## Daily homework
Add more lines of code that use 2 variables: a number stored in the variable `index` and a list variable `list_variable` 

Your code should print out the value at that index, if it's a valid index. If it's not a valid index it will tell you "Sorry, please choose an integer between " and tell you the valid numbers.  You can assume the value stored in index will be an integer.

For example, if these are the values for index and list_variable
```
index = 4
list_variable = ['Cabbage', 'Coffee', 'Corn', 'Tea', 'Tomato', 'Apple', 'Potato'] 
```
Then it would print out `The item is Tomato`
 
If these are the values
```
index = 4
list_variable = ['Cabbage', 'Coffee', 'Corn'] 
```
Or 
```
index = -1
list_variable = ['Cabbage', 'Coffee', 'Corn'] 
```
 
Then it would print out `Sorry please choose an integer between 0 and 2`

1. As a group, come up with a good solution
2. Do a quick role-play of the solution trying new values of the `list_variable`. FOr each one, copy and paste your code cell and run it. Verify that what you get is what you predicted

In [ ]:
index = 7
list_variable = ['Cabbage', 'Coffee', 'Corn', 'Tea', 'Tomato', 'Apple', 'Potato']

if 0 <= index < len(list_variable):
    print(f"The item is {list_variable[index]}")
else:
    print(f"Sorry please choose an integer between 0 and {len(list_variable) - 1}")

### Self-check
Predict what would be the output of running the following code cell.

In [ ]:
i = 4
print(plants[i] + plants[i + 1])

## Comments
You can make code that doesn't execute by putting a "#" in front of it. Jupyter handily colors this in a grayish color to remind you that this isn't code but just notes to yourself. You ca

In [ ]:
print("a") # code comment 1

# Code comment 2
# print("b", x)

## 0. `if / else` review

An `if` by itself controls whether or not the indented chunk below it gets executed.

An `if` with an `else` chooses one chunk *or* the other chunk.

**Exercise 0.1**: Predict what will get printed from each of the 2 code cells below. Why is what gets printed different?

In [4]:
print('a')
if False:
    print('b')
    print('c')

a

In [5]:
print('a')
if False:
    print('b')
print('c')

a
c

**Self-check**
Change the indentation in this code cell so if you run it, it will only print `a` and `d`

In [ ]:
print('a')
if False:
    print('b')
print('c')
print('d')

You are not limited to a single pair of `if` and `else`. You can have more than 2 indented chunks and select which of 3 or more chunks will get executed with `elif`

**Exercise 0.2**: Try changing the number of wheels below and predict what the print will give you **before** running

In [7]:
wheels = 5
if wheels == 1:
    print("I will make you a unicycle")
elif wheels == 2:
    print("I will make you a bicycle")
elif wheels == 3:
    print("I will make you a tricycle")
elif wheels == 4:
    print("I will make you an ATV")
else:
    print("I can't make anything with this number of wheels.")

I can't make anything with this number of wheels.

**Exercise 0.3**: Write code using `elif` to use `value` and `compare_to` to execute `|value| < compare_to`. Your code should print *Too low!* if the value is too low, *Success!* if the absolute value is less and *Too high!* if the  value is too high. Verify your code works by changing the value of `value` to be something too low, too high, or other.  Add comments to your code **briefly** explaining key parts

In [8]:
value = -2
compare_to = 3

# Checks each side of the absolute value equation
check_pos = value < compare_to
check_neg = value * -1 < compare_to

# Steps through each possible scenario (both, one, or the other)
# Prints the appropriate statement
print(check_pos, check_neg)
if check_pos and check_neg:
    print("Success")
elif check_pos:
    print("Too low!")
else:
    print("Too high!")

Too low!

# 1: Data structures

### String objects and practicing with lists
Strings are more complicated than number variable or Boolean variable. They have many functions (like convert to upper case, etc) which you can learn by Googling. We will only cover a couple.

Remember you can use a function of an object with the `.` like we learned with the "append"

In [1]:
plants = ['Cabbage', 'Coffee', 'Corn', 'Tea', 'Tomato', 'Apple', 'Potato']

plants.append('Mango')

plants

['Cabbage', 'Coffee', 'Corn', 'Tea', 'Tomato', 'Apple', 'Potato', 'Mango']

A useful function of a String `split`s it up into a list using a delimiter

In [2]:
example = 'a b c'
example.split()

['a', 'b', 'c']

By **default** it will split it up by any **white space** (examples of white space: spaces or tabs). 

The **input** to the function specifies which delimiter to use.


**Exercise 1.1**: First run the line of code below defining the `gencode_line` variables, which each contain one line from the gencode file. Then, try running the following lines of code below it. How many items are in the resulting lists? Explain the difference between the results.

In [11]:
gencode_line = 'chr1	HAVANA	CDS	65565	65573	.	+	0	gene_id "ENSG00000186092.6"; transcript_id "ENST00000641515.2"; gene_type "protein_coding"; gene_name "OR4F5"; transcript_type "protein_coding"; transcript_name "OR4F5-202"; exon_number 2; exon_id "ENSE00003813641.1"; level 2; protein_id "ENSP00000493376.2"; hgnc_id "HGNC:14825"; tag "RNA_Seq_supported_partial"; tag "basic"; havana_gene "OTTHUMG00000001094.4"; havana_transcript "OTTHUMT00000003223.4";"'

another_line = 'chr1	HAVANA	exon	11869	12227	.	+	.	gene_id "ENSG00000223972.5"; transcript_id "ENST00000456328.2"; gene_type "transcribed_unprocessed_pseudogene"; gene_name "DDX11L1"; transcript_type "processed_transcript"; transcript_name "DDX11L1-202"; exon_number 1; exon_id "ENSE00002234944.1"; level 2; transcript_support_level "1"; hgnc_id "HGNC:37102"; tag "basic"; havana_gene "OTTHUMG00000000961.2"; havana_transcript "OTTHUMT00000362751.1";'

In [89]:
whitesplit = gencode_line.split()

['chr1',
 'HAVANA',
 'CDS',
 '65565',
 '65573',
 '.',
 '+',
 '0',
 'gene_id "ENSG00000186092.6"; transcript_id "ENST00000641515.2"; gene_type "protein_coding"; gene_name "OR4F5"; transcript_type "protein_coding"; transcript_name "OR4F5-202"; exon_number 2; exon_id "ENSE00003813641.1"; level 2; protein_id "ENSP00000493376.2"; hgnc_id "HGNC:14825"; tag "RNA_Seq_supported_partial"; tag "basic"; havana_gene "OTTHUMG00000001094.4"; havana_transcript "OTTHUMT00000003223.4";"']

In [89]:
tabsplit = gencode_line.split("\t")

['chr1',
 'HAVANA',
 'CDS',
 '65565',
 '65573',
 '.',
 '+',
 '0',
 'gene_id "ENSG00000186092.6"; transcript_id "ENST00000641515.2"; gene_type "protein_coding"; gene_name "OR4F5"; transcript_type "protein_coding"; transcript_name "OR4F5-202"; exon_number 2; exon_id "ENSE00003813641.1"; level 2; protein_id "ENSP00000493376.2"; hgnc_id "HGNC:14825"; tag "RNA_Seq_supported_partial"; tag "basic"; havana_gene "OTTHUMG00000001094.4"; havana_transcript "OTTHUMT00000003223.4";"']

In [5]:
semisplit = gencode_line.split(";")

**Exercise 1.2**: Run the tab and semicolon splits on the other string variable `another_line`. Which results are the same and which are different from the result from running on the first string variable? why?

**Self check**: Try getting the last column of of data the `gencode_line` variable. How would you use `split` to break this last column up into all the entries in it?

## Sets
A set is like a list but it only has unique elements. This can be very useful! You can make one like this:

In [84]:
input_list = ['duck', 'duck', 'goose']
first_set = set(input_list)
first_set

{'duck', 'goose'}

**Question**: 
- What is the name of the function I just used?
- What is the input to the function?

In [86]:
places = ['Europe',
             'Africa',
             'North America',
             'Asia',
             'North America',
             'Asia',
             'South America']

Just like with `list` and `dict` you can find how many elements are in the set using `len`. Write code to get the number of continents from the set. What do you expect the result to be?

Look at our `places` list above.

**Exercise 3**: Write code to obtain the unique continents in the `places` list. What do you expect to get? How many items should be in the set? Verify that your prediction was correct.

## Dictionaries
You would never actually store a data set like our plant-place data in lists. A more natural way to store related pairs of data is the dict which stores "key-value pairs". You create it like this:
`dictVariable = {key1:value1, key2:value2, .... }`

In [73]:
plant2place = {'Cabbage': 'Europe',
             'Coffee': 'Africa',
             'Corn': 'North America',
             'Tea': 'Asia',
             'Tomato': 'North America',
             'Apple': 'Asia',
             'Potato': 'South America'}

Like if you wanted to store pairs of the name and phone numbers:

In [ ]:
phone_numbers = {'Lupita':  '978 656 8750',
                'Egyptian grill':  '978 455 9698'}

Unlike the list where you look up values by the position, you look up values by key:

In [63]:
plant2place['Cabbage']

'Europe'

In [ ]:
phone_numbers['Lupita']

**Exercise 4**:
*4A*: Write code to create a dictionary to store the number of each of the following body parts a person is typically born with:
- eyes
- nose
- fingers

*4B*: Write code to look up the number of fingers a person has.

You can store items in a dictionary by **assigning** again, where you specify the key and assign the value to that key:

In [ ]:
plant2place['Mango'] = 'Asia'

plant2place['Coconut'] = 'Antarctica'

You can replace a dictionary value just be re-assigning over it, just like for a variable:

In [10]:
plant2place['Coconut'] = 'Asia'

NameError: name 'plant2place' is not defined

## 2. Loops
**Conditions** (if / elif /else ) control *whether or not* a code gets executed. 

**Loops** instead execute the same code over and over but with a different variable.

You can think of it as an assembly line. Think of the 4 guys here as 4 lines of code inside a loop.

*For* every widget that comes down the line, the first person files it, then Charlie Chaplin tightens it, then the person with the mustache hammers it, then the person with the hat brushes it. They do the exact same thing over and over again but each time with a new widget.

![img](http://i.cdn.turner.com/cnn/2010/OPINION/11/29/zelizer.chaplin.modern.times/t1larg.charlie.chaplin.modern.times.scene.gi.jpg "assembly lines")

For the assembly line, someone must be loading the things on the front... In our case, python will set up the assembly line with `for` and load variables at you if you load it up with something like a list. You use the special word `for` like this:

```
for next_widget in widget_list:
    file next_widget
    tighten next_widget
    hammer next_widget 
    brush next_widget
```

You can **loop** over the plants and execute the same print line, but each time the value of `fave_food` is assigned to the next item in the list.

In [13]:
for fave_food in plants:
    # the first line makes a new string using current variable given by the "for"
    to_print = "my favorite food is " + fave_food
    
    # this line then takes that variable then prints it
    print(to_print)

my favorite food is Cabbage
my favorite food is Coffee
my favorite food is Corn
my favorite food is Tea
my favorite food is Tomato
my favorite food is Apple
my favorite food is Potato
my favorite food is Mango

Basically python is allowing you to run repetitive code and be flexible about how many times you should run it. 

Each time through the loop is called an **iteration**.
What the computer is doing in each of the first 3 iterations:

In [ ]:
fave_food = plants[0]
to_print = "my favorite food is " + fave_food
print(to_print)

fave_food = plants[1]
to_print = "my favorite food is " + fave_food
print(to_print)

fave_food = plants[2]
to_print = "my favorite food is " + fave_food
print(to_print)

# and so on...

Instead of a list, you can also use the function `range` and specify what number you want to go up to. If you give it one number it will go from 0 to that number - 1

In [17]:
for i in range(5):
        print('looping #' ,i)

looping # 0
looping # 1
looping # 2
looping # 3
looping # 4

Otherwise if you give it 2 numbers, it will go from the first to the second - 1

In [18]:
for i in range(2, 5):
        print('looping #' ,i)

looping # 2
looping # 3
looping # 4

You can **loop** over the plants and execute the same print line, but each time the value of `fave_food` is assigned to the next item in the list.

#### Self-check

1. Copy the loop above and change the text to say "I hate Cabbage"
2. Write a loop that uses `range` to get the plant at each position and print "my favorite plant is Cabbage" etc, for each plant.

**Exercise 2.1**: 

A. Write a for loop below that loops thrugh the numbers -10 to +10 and prints out what the number is

B. Copy your loop below and add a line  so it prints out the Plant at that index in the `plants` list if it's a valid index, or else says "too low" if the number is too low to be an index, or else says too high if  the number is too high to be a valid index

**Self-check**
Edit the loop from 2.1A it again but have then edit it to add in our absolute value result. So that if the value is too low for |value| < 3 it will say too low, etc

**Exercise 2.2 Discuss**: List 2 advantages of a loop versus not using a loop

**Self-check**
Edit the loop below. Change it so it loops through from 0 to 10 and prints the number, but skips 3.

In [2]:
for i in range(10):
    print("next number",i)

next number 0
next number 1
next number 2
next number 3
next number 4
next number 5
next number 6
next number 7
next number 8
next number 9

### 2.2 Looping over dictionary
Here are our plants and places again. You can loop over a dictionary in the same way. The loop will loop over the *keys* of the ditionary:

In [ ]:
plant2place = {'Cabbage': 'Europe',
             'Coffee': 'Africa',
             'Corn': 'North America',
             'Tea': 'Asia',
             'Tomato': 'North America',
             'Apple': 'Asia',
             'Potato': 'South America'}

In [ ]:
for x in plant2place:
    print('plant is', x)

In [11]:
gencode_line = 'chr1	HAVANA	CDS	65565	65573	.	+	0	gene_id "ENSG00000186092.6"; transcript_id "ENST00000641515.2"; gene_type "protein_coding"; gene_name "OR4F5"; transcript_type "protein_coding"; transcript_name "OR4F5-202"; exon_number 2; exon_id "ENSE00003813641.1"; level 2; protein_id "ENSP00000493376.2"; hgnc_id "HGNC:14825"; tag "RNA_Seq_supported_partial"; tag "basic"; havana_gene "OTTHUMG00000001094.4"; havana_transcript "OTTHUMT00000003223.4";"'

another_line = 'chr1	HAVANA	exon	11869	12227	.	+	.	gene_id "ENSG00000223972.5"; transcript_id "ENST00000456328.2"; gene_type "transcribed_unprocessed_pseudogene"; gene_name "DDX11L1"; transcript_type "processed_transcript"; transcript_name "DDX11L1-202"; exon_number 1; exon_id "ENSE00002234944.1"; level 2; transcript_support_level "1"; hgnc_id "HGNC:37102"; tag "basic"; havana_gene "OTTHUMG00000000961.2"; havana_transcript "OTTHUMT00000362751.1";'

**Exercise 2.2.1**: 

A. write a loop that will loop over the plant2place and for every plant extract the place it's from and print that.

B. Change your loop and have it print out a line like "Cabbage originated from Europe" for every plant

## 2.3 Looping through lines in a file
Where it's very handy is looping through a file using the Python function `open` that opens a file stored on your computer so we can read in one line at a time.

Make a text file *in Jupyter* (File --> New --> Text File) and write 3 sentences in it. Put each sentence on a different line. Rename it to be "testfile.txt".

You can loop through lines in a file like this:

In [ ]:
for one_line in open("testfile.txt"):
    print("my line is ", one_line)

Each time through the loop, python reads in another line of the file and puts it into the variable `one_line`

#### Self-check
Write another "for" loop that goes through the lines of that same file, and prints the **first word** of each sentence.