# Learning objectives for today
- Able to access subsets of data frame to answer questions about the data
- Can perform operations on all observations of a single feature without for loops
- Can put together multiple data frame operations to form a simple analysis

In [2]:
import pandas as pd
lakes = {'name':['Huron','Ontario','Michigan','Erie','Superior'],
        'surface':[23000, 7340,22400,9900,31700],
        'ave_depth':[195,284,279,70,480],
        'max_depth':[750,802,923,210,1333],
        'shared_canada':[True,True, False, True, True],
         'temperature':[48,51,49,54,43],
         'native_name':['Karegnondi','Oniatar√≠:io','Mich gami','Erielhonan','Gichi-gami']
        }

## Daily homework
write code that will add a new feature (key ) to the lakes dictionary called depth_meters storing for every lake what its average depth in meters is (one foot is 0.3 meters).
 
It probably does not need to be said, but this should be code, not manually entering the numbers.


# 2. (continued)

Making a data frame

In [24]:
df = pd.DataFrame(lakes)

Two ways to set index: returning a new DF or `in place`

In [4]:
df_named = df.set_index("name")

In [45]:
df.set_index("name",inplace=True)

Review on `index` and `columns`:

In [5]:
df_named.index

Index(['Huron', 'Ontario', 'Michigan', 'Erie', 'Superior'], dtype='object', name='name')

In [6]:
df.columns

Index(['name', 'surface', 'ave_depth', 'max_depth', 'shared_canada',
       'temperature', 'native_name'],
      dtype='object')

### 2.3 `.loc[]` to access items by index and columns

In Excel we can access them using "B3", etc. 

We can access the rows and the columns of the DataFrame using the special `.loc[]` operator.

Inside, you can specify the ROW then the COLUMN.  You can remember this because **DataFrames <font color=red>R</font>o<font color=red>C</font>k!!**

In [11]:
df_named.loc['Erie', 'surface']

9900

**Exercise 2.3.1**: use `.loc` to get the maximum depth of Lake Superior.

In [7]:
df_named.loc['Superior', 'max_depth']

1333

**Self check**: use `.loc` to get the Native name of Lake Michigan

In [12]:
df_named.loc['Michigan', 'native_name']

'Mich gami'

### 2.4 Accessing a whole row or column
You can leave off the rows or the columns in your `.loc[]` but keep the comma and it will give you back *the whole row (or column)*

This single row or column is called a `series` which are basically the one-dimensional version of a DataFrame. Any time you take a slice across one row (getting multiple columns for one lake) or a slice across a column (getting multiple rows for one feature), you get a series:

In [13]:
df_named.loc[:,'surface']

name
Huron       23000
Ontario      7340
Michigan    22400
Erie         9900
Superior    31700
Name: surface, dtype: int64

In [14]:
df_named.loc['Erie',]

surface                9900
ave_depth                70
max_depth               210
shared_canada          True
temperature              54
native_name      Erielhonan
Name: Erie, dtype: object

**Discuss**: What will happen if I try to run the cell below and why?

In [20]:
df_named.loc[:,'Erie']

KeyError: 'Erie'

You can also leave off the comma and it can work, but this can be a bit confusing

A particular specification for code is called *syntax*. The *syntax* for accessing items from a dictionary is `plant2place['Tea']`

**You can access data for one *feature* (a whole column) from a data frame using dictionary syntax**

**Discuss**: Compare the results of the commands below. How is the  code different? and how are the results different:

In [9]:
lakes['surface']

[23000, 7340, 22400, 9900, 31700]

In [10]:
df_named['surface']

name
Huron       23000
Ontario      7340
Michigan    22400
Erie         9900
Superior    31700
Name: surface, dtype: int64

### 2.5 Indexing using a list
We don't need to specify just the name of one row/column but we have many ways.  Say we are only interested in the depths info for Ontario and Michigan. We can create a list of all the rows and all the columns we are interested in:

In [17]:
rows = ['Michigan', 'Ontario']
cols = ['ave_depth', 'max_depth']

Now I will use the variables to just get these rows and columns from the DataFrame:

In [21]:
df.loc[rows, cols]

          ave_depth  max_depth
name
Michigan        279        923
Ontario         284        802

**Exercise 2.5.1**: use list indexing to manually put the data frame in alphabetical order by lake name, and select only the native_name and shared_canada columns.

In [38]:
# Sort the data in the dataframe in alphabetical order
lakes['name'].sort()

# Columns
columns = ['native_name', 'shared_canada']

# Get data from the dataframe
df_named.loc[lakes['name'], columns]

          native_name  shared_canada
name
Erie       Erielhonan           True
Huron      Karegnondi           True
Michigan    Mich gami          False
Ontario   Oniatar√≠:io           True
Superior   Gichi-gami           True

### 2.6 `.iloc[]` locates by row/column number
Sometimes you might want to choose your own rows and columns by number, rather than just head and tail. With `iloc` you specify row number and column numbers (zero based) 

This follows the same rules as list position indexing, but gives you 2 dimensions to pick from.

In [ ]:
df_named.iloc[:2,3:5]

**Exercise 2.6.1**: Look at the `df_named` and verify which rows and columns you would expect this to have given you.

In [40]:
print(df_named)
df_named.iloc[:2,3:5]

          surface  ave_depth  max_depth  shared_canada  temperature  \
name
Huron       23000        195        750           True           48
Ontario      7340        284        802           True           51
Michigan    22400        279        923          False           49
Erie         9900         70        210           True           54
Superior    31700        480       1333           True           43

          native_name
name
Huron      Karegnondi
Ontario   Oniatar√≠:io
Michigan    Mich gami
Erie       Erielhonan
Superior   Gichi-gami

         shared_canada  temperature
name
Huron             True           48
Ontario           True           51

## 3. Vectorized operations
Where pandas gets really powerful is the ability to manipulate a bunch of numbers at once.

In [ ]:
df['temperature'] / 100

In [ ]:
df_named['ave_depth'] + 1000

What is an alternative way to accomplish the same task?

Two reasons why this is better:
- less code
- much much faster with large data

**3.1 Exercise**: convert the Fahrenheit temperatures to Celsius using vector operations (celsius = 5/9 * (fahrenheight - 32))

In [34]:
5 / 9 * (df_named['temperature'] - 32)

name
Huron        8.888889
Ontario     10.555556
Michigan     9.444444
Erie        12.222222
Superior     6.111111
Name: temperature, dtype: float64

### 3.1 Vectorized math between two series
You aren't limited to a Series and a number, with 2 Series of the same size, pandas will perform the operations like you were in a for loop. So we can get for each lake, how much deeper the deepest point is than the average depth.

In [ ]:
diff_depth =  df_named['max_depth'] - df_named['ave_depth']

In [ ]:
diff_depth

**3.1.1 Exercise**: use vectorized math to create a Series containing a very approximate volume for each lake

In [41]:
df_named

,surface,ave_depth,max_depth,shared_canada,temperature,native_name
name,,,,,,
Huron,23000,195,750,True,48,Karegnondi
Ontario,7340,284,802,True,51,Oniatar√≠:io
Michigan,22400,279,923,False,49,Mich gami
Erie,9900,70,210,True,54,Erielhonan
Superior,31700,480,1333,True,43,Gichi-gami

In [43]:
df_named['surface'] * df_named['ave_depth'] * 2.788e+7 # Conversion from square miles to square feet

float

### 3.2 Vectorized string operations
The main ones are vectorized string concatenation

Just like doing `"Lake" + "Karegnondi"` would give you a string concatenating the two, this does the same thing in a vectorized fashion-- notice that what you get is of course another Series.

In [46]:
"Lake " + df['native_name'] + " is a lake"

name
Huron        Lake Karegnondi is a lake
Ontario     Lake Oniatar√≠:io is a lake
Michigan      Lake Mich gami is a lake
Erie         Lake Erielhonan is a lake
Superior     Lake Gichi-gami is a lake
Name: native_name, dtype: object

**Self check**: Write code to make a series that say "The native name for Erie is Erielhonan" etc for all lakes using vector operations.

### 3.4 Vectorized inequalities
Just like the other vectorized operations, we can do tests that give Boolean results for vectorized operations

In [47]:
df['temperature'] > 50

name
Huron       False
Ontario      True
Michigan    False
Erie         True
Superior    False
Name: temperature, dtype: bool

In [48]:
df

,surface,ave_depth,max_depth,shared_canada,temperature,native_name
name,,,,,,
Huron,23000,195,750,True,48,Karegnondi
Ontario,7340,284,802,True,51,Oniatar√≠:io
Michigan,22400,279,923,False,49,Mich gami
Erie,9900,70,210,True,54,Erielhonan
Superior,31700,480,1333,True,43,Gichi-gami

In [49]:
df['native_name'] == "Erielhonan"

name
Huron       False
Ontario     False
Michigan    False
Erie         True
Superior    False
Name: native_name, dtype: bool

Just like in 3.2, this can be between 2 Series rather than comparing each item to the same thing

In [50]:
df['ave_depth'] < df['max_depth']

name
Huron       True
Ontario     True
Michigan    True
Erie        True
Superior    True
dtype: bool

**Exercise 3.4.1**: Write one line of code  that finds out if each lake's volume is more than 1 million cubic feet

In [54]:
df_named['surface'] * df_named['ave_depth'] > 1e+6 #* 2.788e+7

name
Huron        True
Ontario      True
Michigan     True
Erie        False
Superior     True
dtype: bool

### 3.5 Vectorized Boolean operations.

There are different operators for Series and DataFrame Booleans versus regular ones. These will operate on the whole Series at once:
- `and` --> `&`
- `or` --> `|`
- `not` --> `~`

To flip True and False (the `not` operation) you must use the `~`:

In [56]:
~df['shared_canada']

name
Huron       False
Ontario     False
Michigan     True
Erie        False
Superior    False
Name: shared_canada, dtype: bool

To combine two inequalities you must put the inequality in parentheses like below! Common source of errors!

In [57]:
df['shared_canada'] & (df['temperature'] < 50)

name
Huron        True
Ontario     False
Michigan    False
Erie        False
Superior     True
dtype: bool

In [58]:
df['shared_canada'] | (df['temperature'] < 50)

name
Huron       True
Ontario     True
Michigan    True
Erie        True
Superior    True
dtype: bool

**Self check**: Use Boolean operations to get for all lakes a Boolean Series indicating lakes that are shared with Canada and have average depth more than 200 feet.

In [60]:
df['shared_canada'] & (df['ave_depth'] > 200)

name
Huron       False
Ontario      True
Michigan    False
Erie        False
Superior     True
dtype: bool

## 4. Dimension/shape
You can get the number of rows and columns by getting the `.shape` attribute. 

Remember it's always Row then Column because **DataFrames <font color=red>R</font>o<font color=red>C</font>k!!**

In [59]:
df.shape

(5, 6)

What do you expect the shape of a series to be? How many rows and columns do you expect in the variable `aseries` below?

In [61]:
aseries = df['shared_canada']
aseries.shape

(5,)

## 5. Assigning into your data frame

We can also assign a whole Series **into** a column, just like getting the series out of the column

In [62]:
df['diff_depth'] = df['max_depth'] - df['ave_depth']

In [65]:
df

,surface,ave_depth,max_depth,shared_canada,temperature,native_name,diff_depth
name,,,,,,,
Huron,23000,195,750,True,48,Karegnondi,555
Ontario,7340,284,802,True,51,Oniatar√≠:io,518
Michigan,22400,279,923,False,49,Mich gami,644
Erie,9900,70,210,True,54,Erielhonan,140
Superior,31700,480,1333,True,43,Gichi-gami,853

**Exercise 5.1**: Assign a new `volume` column into the data frame.

In [66]:
df['volume'] = df['ave_depth'] * df['surface'] * 2.788e+7
df

,surface,ave_depth,max_depth,shared_canada,temperature,native_name,diff_depth,volume
name,,,,,,,,
Huron,23000,195,750,True,48,Karegnondi,555,1.250418e+14
Ontario,7340,284,802,True,51,Oniatar√≠:io,518,5.811753e+13
Michigan,22400,279,923,False,49,Mich gami,644,1.742388e+14
Erie,9900,70,210,True,54,Erielhonan,140,1.932084e+13
Superior,31700,480,1333,True,43,Gichi-gami,853,4.242221e+14

## 6. Boolean indexing
How can we easily extract just the lakes that are shared with Canada?

This is the trickiest kind of indexing! 

Using Boolean indexing to get the rows we want involves 2 steps:

1. Get/make a Boolean series that is the same dimension as your data frame (so in our cases, same number of lakes), that has True for every row you want to extract.

2. Use this boolean series as the `rows`

In [68]:
row_selector = df['shared_canada']
print(row_selector)

name
Huron        True
Ontario      True
Michigan    False
Erie         True
Superior     True
Name: shared_canada, dtype: bool

In [69]:
df.loc[row_selector,:]

,surface,ave_depth,max_depth,shared_canada,temperature,native_name,diff_depth,volume
name,,,,,,,,
Huron,23000,195,750,True,48,Karegnondi,555,1.250418e+14
Ontario,7340,284,802,True,51,Oniatar√≠:io,518,5.811753e+13
Erie,9900,70,210,True,54,Erielhonan,140,1.932084e+13
Superior,31700,480,1333,True,43,Gichi-gami,853,4.242221e+14

In [ ]:
df.shape

**Exercise 6.1**: Get the volume of the lakes where temperature is greater than 50, and the volume of lakes where temperature is less than 50.

In [80]:
row_selector = df['temperature'] > 50

display(df.loc[row_selector, 'volume'].to_frame())

row_selector = df['temperature'] < 50

display(df.loc[row_selector, 'volume'].to_frame())

type(df.loc[row_selector, 'volume'])

               volume
name
Ontario  5.811753e+13
Erie     1.932084e+13

                volume
name
Huron     1.250418e+14
Michigan  1.742388e+14
Superior  4.242221e+14

pandas.core.series.Series

**Self check**: Get the depth for lakes *not* shared with canada

## 7. Sorting
We can sort by a value which returns another DataFrame, but sorted. I used the named argument `ascending` to go from highest to lowest-- the default is `ascending=True`:

In [ ]:
df.sort_values("surface", ascending=False)

In [ ]:
df.sort_values("max_depth", ascending=True)

## 8. Reading in data

Obviously we mostly don't type in our data by hand but get it in text files.  We can use another pandas function to load directly from the file **if** the file is formatted correctly.
Note that in my case, I have the data in a subdirectory called data that is inside my *current working directory*

In [76]:
states = pd.read_csv("../Data/state_health.csv")

### 8.1 Exploring the data

How do I get the number of rows and columns in the  data? type below:

In [77]:
states.shape

(52, 100)

The next step after we load in some data into our notebook is to start looking at it to understand what we have. Just like with command line we have head and tail to look at our data, but now they are *functions*. It's prettier in Jupyter.

In [85]:
states.head()

,State Name,Adverse Childhood Experiences,Air Pollution,Arthritis,Asthma,Avoided Care Due to Cost,Behaviors,Binge Drinking,Cancer,Cannabis Use,...,Total Population,Transportation Energy Use,Unemployment,Uninsured,Violent Crime,Volunteerism,Voter Participation (Average),Voter Participation (Midterm),Voter Participation (Presidential),Water Fluoridation
0,Maine,18.2,5.0,29.0,10.6,9.4,0.587,14.4,8.1,30.0,...,1350141,7.9,3.5,8.0,115,38.5,68.5,65.6,71.3,79.3
1,Massachusetts,10.8,7.0,23.8,10.7,8.3,0.680,15.8,7.0,22.9,...,6893574,7.0,4.0,3.0,328,33.6,60.9,55.5,66.3,57.3
2,Rhode Island,13.6,7.0,24.2,12.1,8.3,0.271,15.1,6.8,25.4,...,1057125,5.6,4.4,4.1,221,28.3,59.0,51.6,66.3,83.2
3,District of Columbia,17.5,8.7,16.3,10.4,7.0,NaN,22.7,5.0,28.2,...,712816,3.1,6.4,3.5,1049,40.7,72.6,61.1,84.0,100.0
4,Michigan,15.5,7.9,30.1,11.0,7.9,-0.094,17.4,7.6,27.8,...,9966555,7.8,5.1,5.8,437,34.5,63.2,59.5,66.9,89.5

**Discuss**: what is this data? what are the observations and features?

__States__ are the observations, __characteristics of each state__ are the features

**Discuss**: How can I set the row names (index) to be the state name instead of the numbers

In [87]:
states.set_index("State Name", inplace=True)

### 8.2 Get a subset of the data for your research question

Pick a set of 5 or so columns your group is interested in.

**Exercise 8.2.1**: 
A. Get a list of all of the characteristics we have for each state.

In [ ]:
state_selector = ["New Hampshire", "Massachusetts", "Vermont", "Rhode Island", "Connecticut", "Maine"]

B. Select out only those columns and store the smaller data frame into a new variable

C. What do you expect the `shape` to be? Predict then write the code to get the shape

D. Get a preview of what the first and last rows of your subsetted data looks like

**Exercise 8.2.2**: Which 10 states are doing the best or and which are worst on the characteristics you chose?

**Exercise 8.2.3**: How is Massachusetts doing on the characteristics you chose?  (write code)

**Exercise 8.2.4**: Get the data for states that are doing better than Massachusetts on one characteristic.

In [ ]:
states.columns

**Self check**: Get the states with per-capita income greater than \$40,000. Then, write code to get which two states have the *lowest* income that is greater than $40,000

# 9. Univariate summaries
A feature can also be called a *variable*. We can summarize a single variable with *univariate summaries*

The `describe` function is useful for getting a quick overview of your data:

In [88]:
df['ave_depth'].describe()

count      5.000000
mean     261.600000
std      149.707381
min       70.000000
25%      195.000000
50%      279.000000
75%      284.000000
max      480.000000
Name: ave_depth, dtype: float64

Similarly, we can get the `max`, `mean`, and `min` on their own

In [89]:
df['ave_depth'].max()

480

In [90]:
df['ave_depth'].min()

70

Let's get practice using Boolean indexing and create some summaries of our data.

We will try to cut up the range of values of one of our features into 10 bins, and count how many states fall in each bin. For example, if we wanted to find which states the per capita income is between $40,000 and $50,000, that range of values would be a bin.

We can easily create evenly spaced bins using a function from the `numpy` package

In [ ]:
states.set_index('State Name')['Per Capita Income'].sort_values()[:10]

In [91]:
import numpy as np
## np.linspace(low end, high end, how many bins)
np.linspace(2, 20, 10)

array([ 2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20.])

**Exercise 9.1**: Pick a feature you are interested in. Create 10 evenly spaced bins going from the lowest to the highest value of that feature.

In [105]:
# Insufficient Sleep
sleepy = states['Insufficient Sleep']

# Create evenly spaced bins
bins = np.linspace(sleepy.min(), sleepy.max(), 10)

**Exercise 9.2**: Write *algorithm* and then *code* that will store for every bin, the number of states that fall in that bin. **Write your algorithm first**.  Pieces to think about: how will we store the counts? For every bin, how do we get the number of states in that particular bin? How do we repeat this for all bins? **Algorithm first!!**

In [113]:
d = {}
for i,b in enumerate(bins):
    if i < len(bins) - 1:
        d[round(b, 1)] = len(sleepy.to_frame().loc[(b < sleepy) & (sleepy < bins[i + 1]), 'Insufficient Sleep'])
        
d

{26.8: 2,
 28.2: 3,
 29.6: 9,
 31.0: 10,
 32.4: 12,
 33.8: 5,
 35.2: 4,
 36.6: 0,
 38.0: 3}

# 10. Intro to plotting

One useful summary is the **histogram** which allows us to visualize the **distribution** of our data. The distribution is which means how many times (how frequently) your *observations* have certain values. This can provide some insight! 

![img](https://preview.redd.it/oruqlgczepp91.png?width=960&crop=smart&auto=webp&s=e583fbd71ccc3e9028a3a21fe20daeabfaf85129 "heights")

Plots have 4 fundamental properties that vary:
- x-axis (horizontal space)
- y-axis (vertical space)
- markers / shapes
- colors

Each of these mean something for representing our data. Every time you look at a plot you should ask yourself:
- what does the x-axis mean
- what does the y-axis mean
- what do markers or shapes mean
- what do colors mean

**Discuss**: Look at the histogram above. Note 1) what the *axes* are, 2) what the *bars* mean, and 3) what *observations* and *features* are in this plot.

We can use the `seaborn` package for making plots. Today we will learn about using this to make plots of single features.

First we use `import` to load the package, then we set it up...

In [ ]:

import seaborn as sns
sns.set_theme()  ## the default theme with a grid

Seaborn always operates on a data frame. 

Depending on what seaborn function you use, it will make a different kind of plot. Right now we'll just use `displot` short for **distribution plot** which is the same thing as a histogram:

In [ ]:
sns.displot(data=df, x="surface")

**Exercise 10.1**: Make a histogram (or distribution plot) of your chosen feature from exercise 9.2. Compare the values to what you got in exercise 9.2